fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
pydantic
pydantic-settings
PyJWT
python-multipart
aiofiles
alembic
Pillow
scikit-learn
numpy
python-socketio[asyncio_client]
APScheduler
psycopg2-binary
